@import "variables";

.explore {
  background-color: $red-primary;
  color: $white;
  padding: 0.7rem 0.925rem;
  font-size: 0.825rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  font-family: "Rubik", sans-serif;

  text-transform: uppercase;
  border: none;

  span {
    margin-right: 10px;
  }
}

.loginbtn {
  background-color: $blue-primary;
  color: $white;
  padding: 1.25rem 0;
  border-radius: 0.8125rem;
  font-weight: 600;
  text-transform: none;
  box-shadow: 2px 1px 10px rgba(34, 34, 34, 0.212);
  font-family: "Rubik", sans-serif;
}
